@{
    ViewBag.Title = "PurchaseOrder";
}

<link href="~/Content/PurchaseOrder.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">

<div class="d-flex align-items-center mb-3">
    <h2 class="text-uppercase">Purchase Order</h2>
    <button class="btn btn-outline-dark rounded add-btn ms-3" onclick="location.href='@Url.Action("PurchaseOrderNew","PurchaseOrder")'">
        <i class="bi bi-plus"></i> Add New
    </button>
</div>

<table class="table">
    <thead class="bg-secondary text-black">
        <tr>
            <th scope="col">PO #</th>
            <th scope="col">PO Date</th>
            <th scope="col">Supplier</th>
            <th scope="col">Attention to</th>
            <th scope="col">Created By</th>
            <th scope="col">Date Created</th>
            <th scope="col" class="action-column">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>PO 1001</td>
            <td>04-01-2025</td>
            <td>FNM BEYOND INCORPORATED & GLGG INTERNATIONAL BEAUTY & WELLNESS</td>
            <td>Ramon Israel</td>
            <td>mylene</td>
            <td>04-01-2025 01:00PM</td>
            <td class="text-end">
                <a href="#" class="icon-link" title="Print"><i class="bi bi-printer"></i></a>
                <a href="#" class="icon-link" title="Edit"><i class="bi bi-pencil-square"></i></a>
                <a href="#" class="icon-link" title="Delete"><i class="bi bi-trash3"></i></a>
            </td>
        </tr>
        <tr>
            <td>PO 1002</td>
            <td>04-02-2025</td>
            <td>FNM BEYOND INCORPORATED & GLGG INTERNATIONAL BEAUTY & WELLNESS</td>
            <td>Ramon Israel</td>
            <td>mylene</td>
            <td>04-01-2025 01:00PM</td>
            <td class="text-end">
                <a href="#" class="icon-link" title="Print"><i class="bi bi-printer"></i></a>
                <a href="#" class="icon-link" title="Edit"><i class="bi bi-pencil-square"></i></a>
                <a href="#" class="icon-link" title="Delete"><i class="bi bi-trash3"></i></a>
            </td>
        </tr>
    </tbody>
</table>